[submodule "homework/hw1"]
	path = homework/hw1
	url = https://github.com/njasi/UNM-CS512-HW1.git
[submodule "homework/hw2"]
	path = homework/hw2
	url = https://github.com/njasi/UNM-CS512-HW2.git
[submodule "homework/hw3"]
	path = homework/hw3
	url = https://github.com/njasi/UNM-CS512-HW3.git
	branch = gh-pages
[submodule "projects/sp1"]
	path = projects/sp1
	url = https://github.com/njasi/UNM-CS512-OBJ-LOADER.git
	branch = gh-pages
[submodule "homework/hw4"]
	path = homework/hw4
	url = https://github.com/njasi/UNM-CS512-HW4.git
	branch = bugfix/first-load
[submodule "common"]
	path = common
	url = https://github.com/njasi/UNM-CS512-COMMON.git
